 <!-- BEGIN SIDEBAR -->
      <div class="sidebar">
        <div class="logopanel">
          <h1>
            Restaurant
          </h1>
        </div>
        <div class="sidebar-inner">
          <ul class="nav nav-sidebar">
            <li>
              <a href="orders"><i class="icon-user"></i><span data-translate="Orders">Orders</span></a>
            </li>
            <li>
              <a href="addmenu"><i class="icon-puzzle"></i><span data-translate="Menu">Menu</span></a>
            </li>
            <li><a href="logout"><i class="icon-screen-desktop"></i><span data-translate="Logout">Logout</span></a></li>
          </ul>
        </div>
      </div>