<footer>
    <div class="footer_bottom align_middle">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>
            <br> 
              © 2017 Copyright by Restaurant.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icofont icofont-close-line-circled"></i></span></button>
        </div>
        <div class="modal-body">
          <div class="search_box_container">
            <form action="search" method="get">
              <div class="form-group">
                <input type="text" placeholder="Search for menu name or ingredients" name="q">
                <button  type="submit">
                  <i class="icofont icofont-search-alt-2"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <a href="#" class="go-top" style="display: block;" title="Click to Scroll Top">
      <i class="ion-ios-arrow-thin-up"></i>
    </a>

  <script src="/../js/jquery.min.js"></script>
  <script src="/../js/bootstrap.min.js"></script>
  <script src="/../js/jquery.easing.min.js"></script>
  <script src="/../js/jquery.enllax.min.js"></script>
  <script src="/../js/camera.min.js"></script>
  <script src="/../js/owl.carousel.min.js"></script>
  <script src="/../js/uikit.min.js"></script>
  <script src="/../js/grid.min.js"></script>
  <script src="/../js/smoothscroll.js"></script>
  <script src="/../js/spectrum.js"></script>
  <script src="/../js/styller.js"></script>
  <script src="/../js/venobox/venobox.min.js"></script>
  <script src="/../js/main.js"></script>
</body>
</html>