<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Bad+Script%7CPT+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" href="/../css/animate.min.css">
  <link rel="stylesheet" href="/../css/icofont.css">
  <link rel="stylesheet" href="/../css/ionicons.min.css">
  <link rel="stylesheet" href="/../css/uikit.min.css">
  <link rel="stylesheet" href="/../css/owl.carousel.min.css">
  <link rel="stylesheet" href="/../js/venobox/venobox.css">
  <link rel="stylesheet" href="/../css/camera.css">
  <link rel="stylesheet" href="/../css/spectrum.css">
  <link rel="stylesheet" href="/../css/bootstrap.min.css">
  <link rel="stylesheet" href="/../css/style.css">
  <link rel="stylesheet" href="/../css/styller.css">
  <link rel="stylesheet" href="/../css/responsive.css">

  <link rel="shortcut icon" href="/../img/components/pavicon.png" type="image/x-icon">
  <link rel="icon" href="/../img/components/pavicon.png" type="image/x-icon">
</head>
<body>

  <div class="main_navigation">
    <nav class="navbar">
        <div class="container">
          <div class="main_menu" >
            <div class="mobile_menu">
              <i class="ion-grid"></i>
            </div>
            <ul class="nav navbar-nav main_menu_nav cmn_menu">
              <li><a href="index.html"> </a></li>
            </ul>
            
            <ul class="nav navbar-nav cmn_menu main_menu_nav navbar-right">

              <li><a href="/restaurant">Restaurant Owner</a></li>
           
              <li><a href="/login">My Account</li>
              <ul class="nav navbar-nav cmn_menu navbar-right right_toolbar">
              <li>
                <div class="cart_search_bar">
                  <ul>
                    <li>
                      <a href="order"><i class="icofont icofont-shopping-cart"></i></a>
                    </li>
                    <li data-toggle="modal" data-target="#myModal">
                      <i class="icofont icofont-search-alt-2"></i>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            </ul>
          </div>
        </div>
    </nav>

  </div>