<%- include layouts/header.ejs %>

<section class="seat_researve_area section_padding">
	<img class="parallax_img kms_parallax parallax_left" src="/../img/parallax/seat_reservation_parallax.png" data-enllax-ratio=".4" data-enllax-type="foreground" style="z-index: 9; transform: translateY(-61px);" alt="parallax image">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-offset-3">
				<div class="section_title align_middle">
					<img src="/../img/components/section_pattern.png" alt="section pattern">
					<h2>Welcome</h2>
					<p>
						You have was created successfully. You can now login to your account and start ordering food from your favourite restaurant.<br> <br> 
						<a href="login" class="labamba_default_btn color_change">Login</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include layouts/footer.ejs %>